<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="6.18">
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/pmd/Violation.java">
  </file>
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/pmd/PmdCheckReportParser.java">
    <error line="7" severity="warning" message="Import statement for &apos;org.jdom2.Document&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="8" severity="warning" message="Import statement for &apos;org.jdom2.Element&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="9" severity="warning" message="Import statement for &apos;org.jdom2.JDOMException&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="10" severity="warning" message="Import statement for &apos;org.jdom2.input.SAXBuilder&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
  </file>
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/pmd/SourceFile.java">
    <error line="4" severity="warning" message="Import statement for &apos;lombok.AllArgsConstructor&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="5" severity="warning" message="Import statement for &apos;lombok.Data&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="6" severity="warning" message="Import statement for &apos;lombok.ToString&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
  </file>
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/pmd/PmdMain.java">
    <error line="5" severity="warning" message="Import statement for &apos;org.jdom2.JDOMException&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
  </file>
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/pmd/PmdReport.java">
    <error line="4" severity="warning" message="Import statement for &apos;lombok.AllArgsConstructor&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="5" severity="warning" message="Import statement for &apos;lombok.Data&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
    <error line="6" severity="warning" message="Import statement for &apos;lombok.ToString&apos; is in the wrong order. Should be in the &apos;THIRD_PARTY_PACKAGE&apos; group, expecting not assigned imports on this line." source="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck"/>
  </file>
  <file name="/home/zaranik/Рабочий стол/task_mock_data/task/src/main/java/org/example/Main.java">
  </file>
</checkstyle>
