.custom-input {
  min-width: 600px;
  margin: 7px 0;
  display: grid;
  grid-template-columns: 2fr 7fr;
  padding-left: 10px;
}

.label-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-button {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.middle-font-text {
  font-size: 20px;
}

.big-font-text {
  font-size: 30px;
}

.large-font-text {
  font-size: 40px;
}

label {
  cursor: pointer;
}


.spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}


.spinner {
  width: 7.5em;
  height: 9em;
  border: 3px solid transparent;
  border-top-color: #fc2f70;
  border-bottom-color: #fc2f70;
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}
