.custom-input {
  min-width: 600px;
  margin: 7px 0;
  display: grid;
  grid-template-columns: 2fr 7fr;
  padding-left: 10px;
}

.label-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom-button {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.middle-font-text {
  font-size: 20px;
}

.big-font-text {
  font-size: 30px;
}

.large-font-text {
  font-size: 40px;
}

label {
  cursor: pointer;
}
